html {
  box-sizing: border-box;
  font-family: "Open Sans";
  margin: auto;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif; 
  margin: auto;
	background-size: 100%;
  align-items: center;
}

body:before{
	content:'';
	position: fixed;
	top: 0;
	bottom: 0;
  width: 100%;
	z-index: -1;
	background: linear-gradient(to right bottom, #B721FF, rgb(32, 190, 119), rgb(26, 173, 206) 75%);
}

header {
  margin-top: 100px; 
}

main{
  margin: 0 auto;
}

#results {
  margin-top: 30px;
}

footer {
  color: white;
  position: relative;
  text-align: center;
  margin-top:10px;
}

ul{
  list-style-type: none;
  padding-inline-start: 0px;
}

li p{
  font-size:18px;
  margin: auto;
  text-align: center;
}

li a {
  font-size:14px;
}

h1{
  font-family: 'Noto Sans';
  font-size:12vw;
  text-align: center;
  color: white;
  margin: auto;
  margin-bottom:0px;
  box-sizing: border-box;
}

h2 {
  font-size:5vw;
  text-align: center;
  color: white;
  align-content: center;
  margin: auto;
  margin-top:5px;
  margin-bottom:35px;
  width:55%;
}

h3 {
  font-size:18px;
  text-align: center;
  color: white;
  align-content: center;
  margin: auto;
  margin-top:5px;
  margin-bottom:35px;
  width:55%;
}

li h3 {
  font-size:20px;
  color: black;
  font-weight: 700;
  margin: auto;
  text-align: center;
}

li h4 {
  font-size:18px;
  text-align: center;
}

.concert-ul {
  list-style: none;
  font-size: 16px;
}

.concert-results{
  margin-top: 10px;
}
.event-list-item{
  margin: 5px 0px 5px 0px;
  text-align: center;
}

.container {
  padding: 20px;
  width: 76%;
  margin: auto;
  margin-top: 35px;
  border-radius: 3px;
}

.container2 {
  padding: 10px;
  width: 76%;
  background: white;
  margin: 10px auto 0px auto;
  border-radius: 3px;
}

.container2:hover {
  cursor:pointer;
}

.container2:hover,
.container2:focus {
  background: rgb(230, 228, 228);
  -webkit-transition: background 0.1s;
  -moz-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s;
}

legend{
  font-size: 25px;
  margin-bottom: 25px;
  text-align: center;
  width:55%;
}

label {
  display: block;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
}

input[type="text"],
input[type="submit"]{
  display: block;
  width: 87%;
  border: 2px solid #e7e7e7;
  padding: 12px;
  border-radius: 3px;
  font-size: 18px;
  text-align: left;
  background: #fcfcfc;
  margin: 10px auto 20px;
  transition: opacity 0.4s;
}

input[type="submit"] {
  height:auto;
  width: 87%;
  text-align: center;
  margin-top: 15px;
  color: #fcfcfc;
  background-color: rgb(205, 21, 196);
  border: 0;
  cursor: pointer;
  font-size: 22px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: rgb(184, 12, 141);
  -webkit-transition: background 0.1s;
  -moz-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s;
}

.error-message {
  margin-top:6px;
  font-size: 16px;
  color: red;
}

.linklike {
  margin-top:4px;
  font-weight: 700;
}

.linklike-desc {
  font-weight: 100;
  font-size: 12px;
}

.hidden {
  display: none;
}

h5{
  color:white;
  margin-bottom:5px;
}

footer a{
  display:inline-block;
}

footer a, a:visited, a:hover{
  color: white;
  font-size:28px;
  margin: 3px;
  margin-bottom:10px;
}

 @media screen and (min-width: 725px) {
  h1 {
    font-family: 'Noto Sans';
    font-size:11vw;
    text-align: center;
    color: white;
    margin: auto;
    margin-bottom:0px;
    box-sizing: border-box;
  }

  h2 {
    font-size:3vw;
    text-align: center;
    color: white;
    align-content: center;
    margin: auto;
    margin-top:5px;
    margin-bottom:35px;
    width:90%;
  }

  #js-form{
    align-content:space-around;
  }

  .name-section{
    width:50%;
    margin-left:auto;
    margin-right:auto;
    display: inline-block;
  }

  .city-section{
    width: 49%;
    display: inline-block;
    margin-left:auto;
    margin-right:auto;
  }

  legend{
    font-size: 25px;
    margin-bottom: 25px;
    text-align: center;
    width:55%;
  }
  
  label {
    position:relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 700;
  }

  input[type="text"]{
    position: relative;
    border: 2px solid #e7e7e7;
    padding: 12px;
    border-radius: 3px;
    font-size: 18px;
    text-align: center;
    background: #fcfcfc;
    margin: 10px auto 20px;
  }
  
  input[type="submit"]{
    display: block;
    width: 55%;
  }
}
/*
@media screen and (max-width: 720px) {

} */